# placeholder template file containing the keys but leaving the values blank - commit this but not .env obviously - helps others setup repo and use their own keys
# Database Configuration
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=

# Backend Server Configuration
PORT=5000
NODE_ENV=development

# Frontend Configuration
VITE_API_URL=